fastapi
uvicorn[standard]
pydantic
httpx
python-dotenv

requests

langchain-google-genai
langchain-community
langchain-text-splitters
chromadb
pypdf

# --- Voice & Language Module ---
faster-whisper
deep-translator
edge-tts
python-multipart

# --- RAG & Scraper Missing Dependencies ---
langchain-chroma
beautifulsoup4
pymupdf
python-docx
pandas
openpyxl