fastapi
uvicorn[standard]
pydantic
httpx
python-dotenv

requests
beautifulsoup4
PyMuPDF

langchain-google-genai
langchain-community
langchain-text-splitters
chromadb
langchain-chroma
pypdf

# --- Voice & Language Module ---
faster-whisper
openai-whisper
edge-tts
imageio-ffmpeg
deep-translator
python-multipart
